{% extends "base.html" %}

{% block container %}
  <div class="container-fluid">
    <h1>Welcome to the LABIC Time Series Health Repository</h1>
    <img src="assets/usp-logo.jpg" alt="Universidade de São Paulo Logo">
    <img src="assets/labic-logo.png" alt="LABIC Logo">
    <p>
      This repository was created to support research on time series, their algorithms, and their applications in the health domain. 
      It includes tasks such as time series classification (TSC) and time series extrinsic regression (TSER). All credits to those responsible 
      for collecting and making the datasets available are included on their respective pages. 
      Finally, two other repositories are recommended for <a href="https://www.cs.ucr.edu/~eamonn/time_series_data_2018/">TSC</a> and 
      <a href="http://tseregression.org/">TSER</a> in general, which directly influenced the creation of this repository. 
      When using the resources made available in this repository, please include the appropriate citation to the respective datasets 
      used and to our repository.
    </p>
  </div>
{% endblock %}
